/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand+SC&family=Quicksand:wght@300;400;500;600;700&display=swap');

/* Asterisk wildcrd selector to override default styles added by the broswer */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: aliceblue;
    background-image: url("..images/background.png")
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: 'Quicksand', sans-serif;
}

header {
    padding: 0 1rem;
    position: absolute;
    z-index: 99;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

h1 {
    font-family: 'Patrick Hand SC', sans-serif;
    letter-spacing: 2px;
}

main {
    /* Make main element take up any surplus space to push footer down */
    flex: 1 0 auto;
}

footer {
    background-color: purple;
}

/* MEDIA QUERY: tablets & larger (768px & up) */
@media screen and (min-width: 768px) {
    /* Header */
    header {
      display: block;
      position: relative;
      width: fit-content;
      padding-right: 1rem;
    }
  
    #logo {
      font-size: 280%;
      line-height: 75px;
      margin: 0 0.5rem;
    }
  
    /* Main Content */
    main {
      /* Push main content down to accommodate larger header */
      margin-top: 83px;
    }
}
  
  /* MEDIA QUERY: Large devices (laptops & desktops, 992px & up) 
  MAY NEED TO REMOVE*/
  @media screen and (min-width: 992px) {
    